<div class="container">
 
  <h3> <%= @title %> </h3>
 
  <div id="details">
    <ul>
      <li>Price: <%= @price %></li>
      <li>Description: <%= @description %></li>
      <li>Email: <%= @email %></li>
      <li>ID: <%= @id %></li>
    </ul>
  </div>

</div>
